Magic 271485
Revision Verdi_R-2020.12-SP1

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1920 525 204 150

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/autumn/work/project/urv32-async/verif/sim/cpu_ahb/urv_cpu_ahb_tb.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
windowTimeUnit 1us

; waveform viewport range
zoom 32426.150850 32430.362079 1u
cursor 32436.112000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 78

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByValue


addGroup "G1" -e FALSE
activeDirFile "" "/home/autumn/work/project/urv32-async/verif/sim/cpu_ahb/urv_cpu_ahb_tb.fsdb"
addSignal -h 15 /urv_cpu_ahb_tb/urv_cpu_ahb_u/mem2ahb_u/clk
addSignal -h 15 -holdScope rstn
addSignal -h 15 /urv_cpu_ahb_tb/tb_sdp_master/clk
addSignal -h 15 /urv_cpu_ahb_tb/SDP_CK
addSignal -h 15 -holdScope SDP_DIO
addSignal -h 15 /urv_cpu_ahb_tb/urv_cpu_ahb_u/urv_cpu_u/urv_uncore_u/sys_req_valid_int
addSignal -h 15 -holdScope sys_req_ready_int
addSignal -h 15 -holdScope sys_req_int
addGroup "G9" -e FALSE
addSignal -h 15 /urv_cpu_ahb_tb/urv_cpu_ahb_u/mem2ahb_u/mem_req_valid
addSignal -h 15 -holdScope mem_req_ready
addSignal -h 15 -UNSIGNED -HEX -holdScope mem_req
addSignal -h 15 -holdScope mem_resp_valid
addSignal -h 15 -holdScope mem_resp_ready
addSignal -h 15 -holdScope mem_resp
addGroup "G2" -e FALSE
addSignal -h 15 /urv_cpu_ahb_tb/print_valid
addSignal -h 15 -UNSIGNED -HEX -holdScope print_data[31:0]
addSignal -h 15 /urv_cpu_ahb_tb/urv_cpu_ahb_u/mem2ahb_u/htrans[1:0]
addSignal -h 15 -holdScope hburst[2:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope haddr[31:0]
addSignal -h 15 -holdScope hsize[2:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope hwdata[31:0]
addSignal -h 15 -holdScope hwrite
addSignal -h 15 -holdScope hresp
addSignal -h 15 -holdScope hready
addSignal -h 15 -holdScope hrdata[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope mem_req.req_addr[31:0]
addSignal -h 15 -holdScope ff_mem_req.req_addr[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope ff_mem_req.req_burst[11:0]
addGroup "G3" -e FALSE
addSignal -h 15 /urv_cpu_ahb_tb/urv_cpu_ahb_u/mem2ahb_u/is_ahb_rd
addSignal -h 15 -holdScope is_ahb_addr
addSignal -h 15 -holdScope is_ahb_resp_s
addSignal -h 15 -holdScope hready
addSignal -h 15 -holdScope mem_resp_valid
addSignal -h 15 -holdScope curt_ahb_state[1:0]
addSignal -h 15 -holdScope is_ahb_addr
addSignal -h 15 -holdScope ff_mem_req.req_addr[31:0]
addSignal -h 15 -holdScope burst_done
addSignal -h 15 -holdScope hready
addSignal -h 15 -holdScope mem_resp_ready
addSignal -h 15 -holdScope is_ahb_addr_b
addGroup "G6" -e FALSE
addSignal -h 15 /urv_cpu_ahb_tb/ahb_sram_u/addr_offset[31:0]
addGroup "G4" -e FALSE
addSignal -h 15 /urv_cpu_ahb_tb/urv_cpu_ahb_u/urv_cpu_u/urv_core_u/icache_ctrl_u/cache_fill_done
addSignal -h 15 -holdScope curt_cache_state[1:0]
addSignal -h 15 -holdScope tag_cmp_req
addSignal -h 15 -holdScope cache_tag_hit[3:0]
addSignal -h 15 -holdScope ifetch_req
addSignal -h 15 -holdScope ifetch_tag_ram_csn[3:0]
addSignal -h 15 -holdScope ifetch_tag_ram_addr[3:0]
addGroup "G5" -e FALSE
addSignal -h 15 /urv_cpu_ahb_tb/urv_cpu_ahb_u/urv_cpu_u/urv_core_u/icache_ctrl_u/fill_offset_wrptr_flush
addSignal -h 15 -holdScope fill_offset_wrptr_val[1:0]
addSignal -h 15 -holdScope fill_offset_wrptr_en
addSignal -h 15 -holdScope fill_offset_wrptr[1:0]
addSignal -h 15 -holdScope fill_index_wrptr_en
addSignal -h 15 -UNSIGNED -UDEC -holdScope fill_index_wrptr[6:0]
addSignal -h 15 /urv_cpu_ahb_tb/urv_cpu_ahb_u/urv_cpu_u/urv_core_u/TAG_RAM_GEN[0]/tag_ram_u/clk
addSignal -h 15 -holdScope csn
addSignal -h 15 -holdScope wen
addSignal -h 15 -holdScope wr_en
addSignal -h 15 -holdScope web[3:0]
addSignal -h 15 -holdScope addr[0:0]
addSignal -h 15 -holdScope din[31:0]
addSignal -h 15 -holdScope dout[31:0]
addGroup "G7" -e FALSE
addSignal -h 15 /urv_cpu_ahb_tb/urv_cpu_ahb_u/urv_cpu_u/urv_core_u/urv_pipe_u/idu_u/clk
addSignal -h 15 -holdScope id2iex_pc[31:0]
addSignal -h 15 -holdScope imem_resp_valid
addSignal -h 15 -holdScope imem_resp
addSignal -h 15 -holdScope imem_resp_ready
addGroup "G8" -e FALSE
addSignal -h 15 /urv_cpu_ahb_tb/urv_cpu_ahb_u/urv_cpu_u/urv_core_u/urv_pipe_u/exu_u/iex_jump_valid
addSignal -h 15 -holdScope iex_jump_pc[31:0]
addGroup "G10" -e FALSE
addSignal -h 15 /urv_cpu_ahb_tb/urv_cpu_ahb_u/urv_cpu_u/urv_uncore_u/plic_u/clk
addSignal -h 15 /urv_cpu_ahb_tb/urv_cpu_ahb_u/urv_cpu_u/urv_uncore_u/sdp2mem_u/sdp_ck
addSignal -h 15 /urv_cpu_ahb_tb/urv_cpu_ahb_u/urv_cpu_u/urv_core_u/core_rstn
addSignal -h 15 -holdScope cpu_rstn
addSignal -h 15 /urv_cpu_ahb_tb/urv_cpu_ahb_u/urv_cpu_u/urv_uncore_u/cdc_dp_req_valid
addSignal -h 15 -holdScope cdc_dp_req_ready
addSignal -h 15 -holdScope cdc_dp_req
addSignal -h 15 -holdScope cdc_dp_resp_valid
addSignal -h 15 -holdScope cdc_dp_resp_ready
addSignal -h 15 -holdScope cdc_dp_resp
addGroup "G15"
addGroup "G16"
addGroup "G17"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
