Magic 271485
Revision Verdi_Q-2020.03-SP2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1920 511 215 139

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/work/home/zhaowei/work/software/urv32_aync/verif/sim/cpu/cpu_top_tb.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
windowTimeUnit 1ns

; waveform viewport range
zoom 660316.554935 661329.538112 1n
cursor 594320.000000
marker 1424.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 3

; Run Time Signal and Member
; userBusMem member ...
; saveRunSig name
activeDirFile "" "/work/home/zhaowei/work/software/urv32_aync/verif/sim/cpu/cpu_top_tb.fsdb"
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[1]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[2]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[3]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[4]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[5]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[6]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[7]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[8]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[9]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[10]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[11]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[12]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[13]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[14]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[15]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[16]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[17]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[18]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[19]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[20]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[21]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[22]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[23]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[24]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[25]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[26]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[27]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[28]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[29]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[30]
userBusMem /cpu_top_tb/cpu_top_u/clint_u/ff_out_5[31]
saveRunSig "ff_out_5[1:31]"

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByValue


addGroup "G1"
activeDirFile "" "/work/home/zhaowei/work/software/urv32_aync/verif/sim/cpu/cpu_top_tb.fsdb"
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/ifu_u/clk
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/iex2ac_jump_valid
addSignal -h 15 -UNSIGNED -ASC /cpu_top_tb/cpu_top_u/core_top_u/exu_u/iex2lsu_inst_ascii[63:0]
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/iex2ac_jump_pc[31:0]
addSignal -h 15 -holdScope iex2lsu_pc[31:0]
addSignal -h 15 -UNSIGNED -HEX /cpu_top_tb/cpu_top_u/core_top_u/ifu_u/inst_addr[31:0]
addSignal -h 15 -holdScope imem_req_valid
addSignal -h 15 -holdScope imem_req_ready
addSignal -h 15 -holdScope imem_req
addSignal -h 15 -holdScope if_valid
addSignal -h 15 -holdScope if_inst[31:0]
addSignal -h 15 -holdScope if_pc[31:0]
addSignal -h 15 -holdScope if_pc_plus[31:0]
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/acu_u/pipe_stall
addGroup "G2" -e FALSE
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/idu_u/id2iex_valid
addSignal -h 15 -holdScope reg_id_valid
addSignal -h 15 -holdScope id2iex_pc[31:0]
addSignal -h 15 -holdScope id2iex_inst[31:0]
addSignal -h 15 -holdScope imem_resp_valid
addSignal -h 15 -holdScope imem_resp_ready
addSignal -h 15 -holdScope imem_resp
addSignal -h 15 -UNSIGNED -ASC -holdScope id2iex_inst_ascii[63:0]
addSignal -h 15 -holdScope id2iex_rs1[4:0]
addSignal -h 15 -holdScope rf2id_rd1[31:0]
addSignal -h 15 -holdScope imem_resp_valid_mux
addSignal -h 15 -holdScope ac2id_flush
addSignal -h 15 -holdScope id2ac_hazard
addSignal -h 15 -holdScope ac2id_stall
addGroup "G3" -e FALSE
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/exu_u/iex2lsu_valid
addSignal -h 15 -holdScope iex2lsu_pc[31:0]
addSignal -h 15 -holdScope iex2lsu_inst[31:0]
addSignal -h 15 -UNSIGNED -ASC -holdScope iex2lsu_inst_ascii[63:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope reg_iex_alu_op[3:0]
addSignal -h 15 -holdScope alu_op1[31:0]
addSignal -h 15 -holdScope alu_op2[31:0]
addSignal -h 15 -holdScope alu_out[31:0]
addSignal -h 15 -holdScope alu_comp_out
addSignal -h 15 -holdScope iex_csr_rd[31:0]
addSignal -h 15 -holdScope reg_iex_rf_rd1[31:0]
addSignal -h 15 -holdScope id2iex_rd1[31:0]
addSignal -h 15 -holdScope iex_rd2_src[31:0]
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/acu_u/lsu2ac_hazard
addSignal -h 15 -holdScope ac2iex_stall
addGroup "G4" -e FALSE
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/exu_u/muldiv_u/clk
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/exu_u/reg_iex_valid
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/exu_u/muldiv_u/op_valid
addSignal -h 15 -UNSIGNED -UDEC /cpu_top_tb/cpu_top_u/core_top_u/exu_u/muldiv_u/div_u/DIV_OPT_2/count_q[5:0]
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/exu_u/muldiv_u/op_ready
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/exu_u/muldiv_u/div_u/DIV_OPT_2/op1_q[63:0]
addSignal -h 15 -holdScope op2_q[31:0]
addSignal -h 15 -UNSIGNED -HEX /cpu_top_tb/cpu_top_u/core_top_u/exu_u/muldiv_u/op_out[31:0]
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/acu_u/pipe_stall
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/exu_u/alu_mul_ready
addSignal -h 15 -holdScope iex2ac_hazard
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/csr_u/cycle_rd_en
addSignal -h 15 -UNSIGNED -HEX -holdScope rdata_cycle[31:0]
addGroup "G6" -e FALSE
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/lsu_u/clk
addSignal -h 15 -holdScope lsu2wb_pc[31:0]
addGroup "G8" -e FALSE
addSignal -h 15 /cpu_top_tb/cpu_top_u/clint_u/ff_wr_en
addSignal -h 15 -holdScope ff_addr[2:0]
addSignal -h 15 -holdScope mtimeh_cmp_wr_en
addSignal -h 15 -UNSIGNED -UDEC -holdScope mtime_cmp_count_q[63:0]
addGroup "G10" -e FALSE
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/csr_u/trap_en
addSignal -h 15 -holdScope irq_en
addSignal -h 15 -holdScope soft_irq_en
addSignal -h 15 -holdScope time_irq_en
addSignal -h 15 -holdScope ext_irq_en
addSignal -h 15 -holdScope mcause_trap_en
addSignal -h 15 -UNSIGNED -HEX -holdScope interrupt_code_sel[2:0]
addSignal -h 15 -holdScope interrupt_code[4:0]
addSignal -h 15 -holdScope mstatus_mie
addSignal -h 15 -holdScope mie_meie
addSignal -h 15 -holdScope mie_mtie
addSignal -h 15 -holdScope ext_irq
addSignal -h 15 -holdScope time_irq
addSignal -h 15 -holdScope csr_mip[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope csr_mtvec[31:0]
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/acu_u/trap_jump_pc[31:0]
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/csr_u/csr_mepc[31:0]
addGroup "G12" -e FALSE
addSignal -h 15 /cpu_top_tb/cpu_top_u/plic_u/ext_irq_src[31:0]
addSignal -h 15 -holdScope mem_req_valid
addSignal -h 15 -holdScope mem_req_ready
addSignal -h 15 -holdScope mem_req
addSignal -h 15 -holdScope mem_resp_valid
addSignal -h 15 -holdScope mem_resp
addSignal -h 15 -holdScope ff_out[31:0]
addGroup "G9" -e FALSE
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/acu_u/ac2id_flush
addSignal -h 15 -holdScope ac2if_flush
addSignal -h 15 -holdScope ac2if_flush_pc[31:0]
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/exu_u/iex_mret
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/acu_u/trap_jump_valid
addSignal -h 15 -holdScope trap_jump_pc[31:0]
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/exu_u/iex2lsu_valid
addSignal -h 15 -holdScope iex2lsu_pc[31:0]
addSignal -h 15 -UNSIGNED -ASC -holdScope iex2lsu_inst_ascii[63:0]
addGroup "G15" -e FALSE
addSignal -h 15 /cpu_top_tb/cpu_top_u/plic_u/clk
addSignal -h 15 -holdScope ff_ext_irq_src[31:0]
addSignal -h 15 -holdScope ff_plic_ip[1]
addSignal -h 15 -holdScope ff_plic_ip_en[1]
addSignal -h 15 -holdScope ff_plic_ip_en[2]
addSignal -h 15 -holdScope ff_plic_ip_d[1]
addSignal -h 15 -holdScope ff_plic_ie[3:0]
addSignal -h 15 -holdScope ff_plic_gateway_en[1]
addSignal -h 15 -holdScope ff_plic_gateway_d[1]
addSignal -h 15 -holdScope ff_plic_gateway[1]
addSignal -h 15 -UNSIGNED -HEX -holdScope ff_wdata[31:0]
addSignal -h 15 -holdScope ff_ext_irq_src[1]
addSignal -h 15 -holdScope ff_plic_gateway[1]
addSignal -h 15 -UNSIGNED -HEX -holdScope ff_addr[5:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope ff_plic_ip_bit_wr_en[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope ff_plic_claim_complete[5:0]
addSignal -h 15 -holdScope plic_id_rd_en
addSignal -h 15 -holdScope plic_id_wr_en
addSignal -h 15 -holdScope ext_irq
addSignal -h 15 -holdScope plic_pri_mux_out[31][2:0]
addSignal -h 15 -holdScope ff_plic_pri[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope ff_plic_claim_complete[5:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope ff_plic_ip[31:0]
addSignal -h 15 -holdScope ff_plic_gateway[1]
addSignal -h 15 -holdScope ff_ext_irq_src[1]
addSignal -h 15 -holdScope ff_plic_ip[1]
addSignal -h 15 -holdScope ff_plic_ip_bit_wr_en[1]
addSignal -h 15 -holdScope ff_plic_gateway[2]
addSignal -h 15 -holdScope ff_ext_irq_src[2]
addSignal -h 15 -holdScope ff_plic_ip[2]
addSignal -h 15 -holdScope ff_plic_ip_bit_wr_en[2]
addGroup "G16" -e FALSE
addSignal -h 15 /cpu_top_tb/cpu_top_u/clint_u/mtime_en_wr_en
addSignal -h 15 -holdScope mtime_count_en
addSignal -h 15 -UNSIGNED -UDEC -holdScope ff_out_1[31:0]
addSignal -h 15 -holdScope time_irq
addSignal -h 15 -UNSIGNED -UDEC -holdScope mtime_count_q[63:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope mtime_cmp_count_q[63:0]
addGroup "G13" -e FALSE
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/idu_u/clk
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/lsu_u/lsu2wb_valid
addSignal -h 15 -holdScope lsu2wb_pc[31:0]
addSignal -h 15 -UNSIGNED -ASC -holdScope lsu2wb_inst_ascii[63:0]
addSignal -h 15 -holdScope dmem_req_valid
addSignal -h 15 -holdScope dmem_req_ready
addSignal -h 15 -holdScope dmem_req
addSignal -h 15 -holdScope lsu2ac_hazard
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/wbu_u/wb2ac_hazard
addSignal -h 15 /cpu_top_tb/cpu_top_u/ram_u/ff_taken
addSignal -h 15 -holdScope ff_addr[14:0]
addSignal -h 15 -holdScope ff_wdata[31:0]
addSignal -h 15 -holdScope ff_wmask[3:0]
addGroup "G18" -e FALSE
addSignal -h 15 -UNSIGNED -ASC /cpu_top_tb/cpu_top_u/core_top_u/wbu_u/reg_wb_inst_index[63:0]
addSignal -h 15 -holdScope reg_wb_pc[31:0]
addSignal -h 15 -holdScope reg_wb_valid
addSignal -h 15 -holdScope dmem_resp_valid
addSignal -h 15 -holdScope dmem_resp_ready
addSignal -h 15 -UNSIGNED -HEX -holdScope dmem_resp
addSignal -h 15 -holdScope wb2rf_wren
addSignal -h 15 -UNSIGNED -UDEC -holdScope wb2rf_waddr[4:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope wb2rf_wdata[31:0]
addSignal -h 15 -holdScope ac2wb_stall
addSignal -h 15 -holdScope dbuf_stall
addGroup "G14" -e FALSE
addSignal -h 15 /cpu_top_tb/print_valid
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/idu_u/id2iex_valid
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/csr_u/cycle_rd_en
addSignal -h 15 -UNSIGNED -HEX -holdScope rdata_cycle[31:0]
addGroup "G17" -e FALSE
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/gpr_u/x0_zero[31:0]
addSignal -h 15 -holdScope x1_ra[31:0]
addSignal -h 15 -holdScope x2_sp[31:0]
addSignal -h 15 -holdScope x3_gp[31:0]
addSignal -h 15 -holdScope x4_tp[31:0]
addSignal -h 15 -holdScope x5_t0[31:0]
addSignal -h 15 -holdScope x6_t1[31:0]
addSignal -h 15 -holdScope x7_t2[31:0]
addSignal -h 15 -holdScope x8_s0_fp[31:0]
addSignal -h 15 -holdScope x9_s1[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope x10_a0[31:0]
addSignal -h 15 -holdScope x11_a1[31:0]
addSignal -h 15 -holdScope x12_a2[31:0]
addSignal -h 15 -holdScope x13_a3[31:0]
addSignal -h 15 -holdScope x14_a4[31:0]
addSignal -h 15 -holdScope x15_a5[31:0]
addSignal -h 15 -holdScope x16_a6[31:0]
addSignal -h 15 -holdScope x17_a7[31:0]
addSignal -h 15 -holdScope x18_s2[31:0]
addSignal -h 15 -holdScope x19_s3[31:0]
addSignal -h 15 -holdScope x20_s4[31:0]
addSignal -h 15 -holdScope x21_s5[31:0]
addSignal -h 15 -holdScope x22_s6[31:0]
addSignal -h 15 -holdScope x23_s7[31:0]
addSignal -h 15 -holdScope x24_s8[31:0]
addSignal -h 15 -holdScope x25_s9[31:0]
addSignal -h 15 -holdScope x26_s10[31:0]
addSignal -h 15 -holdScope x27_s11[31:0]
addSignal -h 15 -holdScope x28_t3[31:0]
addSignal -h 15 -holdScope x29_t4[31:0]
addSignal -h 15 -holdScope x30_t5[31:0]
addSignal -h 15 -holdScope x31_t6[31:0]
addGroup "G11" -e FALSE
addSignal -h 15 /cpu_top_tb/cpu_top_u/mem_noc_router_1to4_u/mn_tid[1:0]
addGroup "G19" -e FALSE
addSignal -h 15 -UNSIGNED -ASC /cpu_top_tb/cpu_top_u/core_top_u/wbu_u/reg_wb_inst_index[63:0]
addSignal -h 15 -holdScope wb2rf_wren
addSignal -h 15 -UNSIGNED -UDEC -holdScope wb2rf_waddr[4:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope wb2rf_wdata[31:0]
addGroup "G20" -e FALSE
addSignal -h 15 /cpu_top_tb/cpu_top_u/mem_noc_router_1to4_u/mn_tid[1:0]
addSignal -h 15 -holdScope sn0_req_valid
addSignal -h 15 -holdScope sn0_req
addSignal -h 15 -holdScope mn_resp_valid
addSignal -h 15 -holdScope mn_resp
addSignal -h 15 /cpu_top_tb/cpu_top_u/clint_u/mem_resp_valid
addGroup "G21" -e FALSE
addSignal -h 15 /cpu_top_tb/cpu_top_u/rom_u/mem_req_valid
addSignal -h 15 -holdScope mem_req_ready
addSignal -h 15 -holdScope mem_req
addGroup "G22" -e FALSE
addSignal -h 15 /cpu_top_tb/cpu_top_u/rom_u/mem_resp_valid
addSignal -h 15 -holdScope mem_resp_ready
addSignal -h 15 -holdScope mem_resp
addGroup "G23"
addGroup "G24"
addGroup "G27" -e FALSE
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/imem_req_valid
addSignal -h 15 -holdScope imem_req_ready
addSignal -h 15 -holdScope imem_req
addSignal -h 15 -holdScope imem_resp_valid
addSignal -h 15 -holdScope imem_resp_ready
addSignal -h 15 -holdScope imem_resp
addGroup "G29" -e FALSE
addSignal -h 15 /cpu_top_tb/cpu_top_u/ram_u/clk
addSignal -h 15 /cpu_top_tb/cpu_top_u/core_top_u/dmem_req_valid
addSignal -h 15 -holdScope dmem_req_ready
addSignal -h 15 -holdScope dmem_req
addSignal -h 15 -holdScope dmem_resp_valid
addSignal -h 15 -holdScope dmem_resp_ready
addSignal -h 15 -holdScope dmem_resp
addGroup "G30"
addGroup "G31" -e FALSE
addSignal -h 15 /cpu_top_tb/cpu_top_u/ram_u/ff_wr_en
addSignal -h 15 -holdScope ff_addr[14:0]
addSignal -h 15 -holdScope ff_wdata[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope ff_rdata[31:0]
addGroup "G32"
addGroup "G33"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

