Magic 271485
Revision Verdi_R-2020.12-SP1

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1920 510 170 98

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/autumn/work/project/urv32-async/verif/sim/cpu/urv_cpu_tb_error.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 339728617.996728 340120120.811573
cursor 339824000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 91
; marker line index
markerPos 105

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByValue


addGroup "G1"
activeDirFile "" "/home/autumn/work/project/urv32-async/verif/sim/cpu/urv_cpu_tb_error.fsdb"
addSignal -h 15 /urv_cpu_tb/urv_cpu_u/clk
addSignal -h 15 -holdScope rstn
addSignal -h 15 -holdScope sys_req_valid
addSignal -h 15 -holdScope sys_req_ready
addSignal -h 15 -holdScope sys_req
addSignal -h 15 -holdScope sys_resp_valid
addSignal -h 15 -holdScope sys_resp_ready
addSignal -h 15 -holdScope sys_resp
addGroup "G2"
addSignal -h 15 /urv_cpu_tb/sram_u/clk
addSignal -h 15 -holdScope mem_req_valid
addSignal -h 15 -holdScope mem_req_ready
addSignal -h 15 -holdScope mem_req
addSignal -h 15 -holdScope mem_resp_valid
addSignal -h 15 -holdScope mem_resp_ready
addSignal -h 15 -holdScope mem_resp
addGroup "G3" -e FALSE
addSignal -h 15 /urv_cpu_tb/sram_u/mem_req.req_type
addSignal -h 15 -holdScope csn
addSignal -h 15 -holdScope wen
addGroup "G4"
addGroup "G7" -e FALSE
addSignal -h 15 /urv_cpu_tb/urv_cpu_u/urv_core_u/urv_pipe_u/idu_u/rf2id_rd1[31:0]
addGroup "G5" -e FALSE
addSignal -h 15 /urv_cpu_tb/urv_cpu_u/urv_core_u/urv_pipe_u/gpr_u/x0_zero[31:0]
addSignal -h 15 -holdScope x1_ra[31:0]
addSignal -h 15 -holdScope x2_sp[31:0]
addSignal -h 15 -holdScope x3_gp[31:0]
addSignal -h 15 -holdScope x4_tp[31:0]
addSignal -h 15 -holdScope x5_t0[31:0]
addSignal -h 15 -holdScope x6_t1[31:0]
addSignal -h 15 -holdScope x7_t2[31:0]
addSignal -h 15 -holdScope x8_s0_fp[31:0]
addSignal -h 15 -holdScope x9_s1[31:0]
addSignal -h 15 -holdScope x10_a0[31:0]
addSignal -h 15 -holdScope x11_a1[31:0]
addSignal -h 15 -holdScope x12_a2[31:0]
addSignal -h 15 -holdScope x13_a3[31:0]
addSignal -h 15 -holdScope x14_a4[31:0]
addSignal -h 15 -holdScope x15_a5[31:0]
addSignal -h 15 -holdScope x16_a6[31:0]
addSignal -h 15 -holdScope x17_a7[31:0]
addSignal -h 15 -holdScope x18_s2[31:0]
addSignal -h 15 -holdScope x19_s3[31:0]
addSignal -h 15 -holdScope x20_s4[31:0]
addSignal -h 15 -holdScope x21_s5[31:0]
addSignal -h 15 -holdScope x22_s6[31:0]
addSignal -h 15 -holdScope x23_s7[31:0]
addSignal -h 15 -holdScope x24_s8[31:0]
addSignal -h 15 -holdScope x25_s9[31:0]
addSignal -h 15 -holdScope x26_s10[31:0]
addSignal -h 15 -holdScope x27_s11[31:0]
addSignal -h 15 -holdScope x28_t3[31:0]
addSignal -h 15 -holdScope x29_t4[31:0]
addSignal -h 15 -holdScope x30_t5[31:0]
addSignal -h 15 -holdScope x31_t6[31:0]
addGroup "G8"
addSignal -h 15 /urv_cpu_tb/urv_cpu_u/urv_core_u/urv_pipe_u/lsu_u/lsu2wb_valid
addSignal -h 15 -holdScope lsu2wb_pc[31:0]
addSignal -h 15 -UNSIGNED -ASC -holdScope lsu2wb_inst_ascii[63:0]
addSignal -h 15 -holdScope dmem_req_valid
addSignal -h 15 -holdScope dmem_req_ready
addSignal -h 15 -holdScope dmem_req
addGroup "G9"
addSignal -h 15 /urv_cpu_tb/urv_cpu_u/urv_uncore_u/dmem_debug_resp_sync_u/dst_valid
addSignal -h 15 /urv_cpu_tb/urv_cpu_u/urv_core_u/urv_pipe_u/wbu_u/reg_wb_valid
addSignal -h 15 -holdScope dmem_resp_valid
addSignal -h 15 -holdScope dmem_resp_ready
addSignal -h 15 -holdScope dmem_resp
addGroup "G10" -e FALSE
addSignal -h 15 /urv_cpu_tb/sram_u/mem_req_valid
addSignal -h 15 -holdScope mem_req_ready
addSignal -h 15 -holdScope mem_req
addSignal -h 15 -holdScope mem_resp_valid
addSignal -h 15 -holdScope mem_resp_ready
addSignal -h 15 -holdScope mem_resp
addGroup "G11" -e FALSE
addSignal -h 15 /urv_cpu_tb/sram_u/is_fetch_req
addSignal -h 15 -holdScope csn
addSignal -h 15 -holdScope wen
addSignal -h 15 -UNSIGNED -HEX -holdScope addr[14:0]
addSignal -h 15 -holdScope din[31:0]
addSignal -h 15 -holdScope web[3:0]
addGroup "debug_count"
addSignal -h 15 /urv_cpu_tb/urv_cpu_u/urv_core_u/urv_pipe_u/gpr_u/clk
addSignal -h 15 /urv_cpu_tb/DEBUG_GEN/print_valid
addSignal -h 15 -UNSIGNED -UDEC -holdScope print_count[31:0]
addGroup "exu"
addSignal -h 15 /urv_cpu_tb/urv_cpu_u/urv_core_u/urv_pipe_u/exu_u/iex_jump_valid
addSignal -h 15 -holdScope iex_jump_pc[31:0]
addSignal -h 15 -holdScope iex2lsu_valid
addSignal -h 15 -holdScope iex2lsu_pc[31:0]
addSignal -h 15 -UNSIGNED -ASC -holdScope iex2lsu_inst_ascii[63:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope reg_iex_alu_op[3:0]
addSignal -h 15 -holdScope reg_iex_csr_sel[1]
addSignal -h 15 -holdScope iex_rd1_src[31:0]
addSignal -h 15 -holdScope reg_iex_rf_rd1[31:0]
addSignal -h 15 -holdScope alu_op1[31:0]
addSignal -h 15 -holdScope alu_op2[31:0]
addSignal -h 15 -holdScope alu_nmul_out[31:0]
addSignal -h 15 -holdScope alu_comp_out
addGroup "G13"
addSignal -h 15 /urv_cpu_tb/urv_cpu_u/urv_core_u/urv_pipe_u/gpr_u/x11_a1[31:0]
addGroup "G14"
addSignal -h 15 -UNSIGNED -UDEC /urv_cpu_tb/sram_u/fast_sram_sp_u/addr[16:0]
addSignal -h 15 -holdScope mem[64990][31:0]
addSignal -h 15 -holdScope mem[64989][31:0]
addSignal -h 15 -holdScope mem[64988][31:0]
addGroup "G15"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

